<p>Welcome to {{title}}</p>
<nav>
  <ul>
    {{#unless user}}
    <li> <a href="/signup"> Sign Up </a> </li>
    <li> <a href="/login"> Log In </a> </li>
    {{/unless}}
    {{#if user}}
    <li><a href="/profile">Profile</a></li>
    <li> <a href="/launderers"> Find a Launderer </a> </li>
    <li> <a href="/dashboard"> See Dashboard </a> </li>
    {{/if}}
  </ul>
</nav>
